.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    gap: 20px;
}

.section {
    width: 100%;
    margin: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: rgba(17, 202, 202, 0.763);
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction:column;
        gap: 30px;
        margin: 20px;
    }
}