/* Define the styles for the navigation bar */
.nav {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* Add a box shadow effect to the navigation bar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

/* Define the styles for the first box in the navigation bar */
.bx_1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

/* Define the styles for the count bubble */
.count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 20px;
  position: absolute;
  top: 5px;
  left: 20px;
  background-color: #51aa63;
  /* Set the background color of the count bubble */
  color: #ffffff;
  /* Set the font color of the count bubble */
  border-radius: 50%;
  /* Add a circular border radius to the count bubble */
}

/* Define the styles for the dropdown menu */
.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Define the styles for the dropdown menu content */
.dropdownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: -15px;
  background-color: lightblue;
  /* Set the background color of the dropdown menu */
  min-width: 120px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* Add a box shadow effect to the dropdown menu */
  z-index: 3;
  /* Set the z-index to ensure the dropdown menu appears above other elements */
}

/* Define the styles for the links within the dropdown menu */
.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Define the styles for the hover effect on the links within the dropdown menu */
.dropdownContent a:hover {
  background-color: #f1f1f1;
}

/* Define the styles for the image in the navigation bar */
.img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* Add a circular border radius to the image */
  cursor: pointer;
}

/* Define the styles for the logo in the navigation bar */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: #ffffff;
  /* Set the font color of the logo */
}